{% load static %}
<link rel="stylesheet" href="{% static "materialize/css/materialize.css" %}">
<script type="text/javascript" src="{% static "materialize/js/materialize.js" %}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav>
    <div class="nav-wrapper">
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
        <a href="#" class="brand-logo center">Check In</a>
    </div>
</nav>


<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">
            </div>
            <a><img class="circle"></a>
            <a><span class="white-text name">John Doe</span></a>
            <a><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a href="{% url 'member_checkin:members' %}"><i class="material-icons">person</i>Members</a></li>
    <li><a href="{% url 'member_checkin:checkins' %}"><i class="material-icons">insert_chart</i>Check Ins</a></li>
</ul>

<script>M.AutoInit();</script>

<table>
    <tr>
        <td><p>Member:</p></td>
        <td>
            <a href="{% url 'member_checkin:member' checkin.member.id %}">{{ checkin.member }}</a>
        </td>
    </tr>
    <tr>
        <td><p>Created:</p>
        </th>
        <td><p>{{ checkin.created|date:'Y-m-d H:i:s' }}</p>
        </th>
    </tr>
</table>
<a href="{% url 'member_checkin:checkin_delete' checkin.id %}"
   class="btn-floating btn-large waves-effect waves-light red"><i
        class="material-icons">delete</i></a>